
@{
    ViewBag.Title = "Index";
}

<h2>資料庫管理期末專案</h2>
<br>
<h5>一、專題題目與簡介</h5>
題目：歌曲資訊查詢系統<br>
簡介：歌曲資訊查詢系統是一個讓使用者查詢歌曲相關資訊、歌詞、影片、歌手等資訊的平台。<br><br><br>
<h5>二、系統功能說明</h5>
此系統希望可以提供使用者在查詢歌曲相關資訊。它可以讓使用者輸入歌曲的名稱、演唱者或其他相關資訊，並立即取得有關該歌曲的資訊，例如歌曲的發行日期、演唱者、作曲者、專輯名稱、類型、相關排行榜等。
此外，歌曲資訊查詢系統還可以提供歌詞、音樂影片和其他相關內容的連結，以便使用者更深入地了解該歌曲。除此之外也能夠做新增刪除的修改動作。<br>



@section topCSS{
    <style>
        a:link {
            text-decoration: none;
            color: #fff;
        }

        a:visited {
            text-decoration: none;
            color: #fff;
        }

        a:hover {
            text-decoration: none;
            color: #fff;
        }

        a:active {
            text-decoration: none;
            color: #fff;
        }
    </style>
}

